%li.twitter.pull-right
  = link_to image_tag("/assets/social-icons/twitter_32.png"), "auth/twitter", :class => "img"
%li.github.pull-right
  = link_to image_tag("/assets/social-icons/github_32.png"), "auth/github", :class => "img"